version: '3'

services:
  nginx:
    build: .
    command:
    - sh
    - -uexc
    - |
      # Start SSHD in the background
      /usr/sbin/sshd;
      # Start NGINX in the foreground
      nginx -g 'daemon off;'

    volumes:
      - ./data:/var/dav
      - ./http.d:/etc/nginx/http.d
      - ./snippets:/etc/nginx/snippets
    ports:
      - 80:80
      - 9023:22