version: '3'

services:
  nginx:
    image: itsnichi4/webdav-nginx:latest 
    command:
      - sh
      - -uexc
      - |
        # Start SSHD in the background
        /usr/sbin/sshd;
        # Start NGINX in the foreground
        nginx -g 'daemon off;'

    volumes:
      - ./data:/var/dav/data
      - ./snippets:/var/dav/snippets
      - ./http:/var/dav/http
    ports:
      # - "4080:80"  # HTTP
      - "9023:22"  # SSH
      - "4080:443"
volumes:
  var-dav:
    driver: local  # Using the default Docker volume driver
